.logo {
    width: 250px;
    height: 250px;
background: transparent;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}

.logo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo input {
    padding: 10px;
    margin: 10px;
    background: rgba(255,255,255,.5);
    text-transform: uppercase;
    border: none;
    color: white;
}

.Tilt {
    margin: 0 auto;
}